

.card {
    margin-right: 30px;
    margin-bottom: 30px;
}

.BIG {
    .card {
        margin-bottom: 30px;
    }
}

.SMALL {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

